@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.clr {
  background-size: 100%;
  background: #255946;
  transition: background-color 0.3s, backdrop-filter 0.3s;
  width: 100%;
  z-index: 20;
}
.nav-link.active {
  color: #09fa09 !important; 
  font-weight: bold;
}
.blur{
  background: rgba(89, 119, 81, 0.2);
  backdrop-filter: blur(1px);
}
.navbar.scrolled {
  transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 3s;
  border-bottom: 0.1px solid grey;
}
@keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.ooo {
  z-index: 2;
  height: 85px !important;
}

.navbar {
  padding: 10px 0;
}

.navbar-brand {
  padding: 0;
}

.logo {
  max-width: 100px;
  height: auto;
}
.icons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.navbar-toggler {
  border: none;
  background: transparent;
  cursor: pointer;
}

.menu-container {
  display: none;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-right: 15px;
  position: relative;
  font-size: 20px;
  font-variant: small-caps;
}

.nav-link {
  color: white !important;
  font-family: 'Inter' !important;
  padding: 10px;
}

.dropdown-menu {
  display: none;
  list-style-type: none;
  padding: 0;
  position: absolute;
  background-color: #255946;
  z-index: 1000;
  top: 100%;
  left: 0;
  border-radius: 0%;
  transition: opacity 0.3s ease;
  animation: fadeIn 0.4s ease-in-out;
}

.dropdown-item {
  background-color: white;
  padding: 10px;
}

.dropdown-item:hover {
  background-color: #3c755e !important;
  color: white;
}
.dropdown:hover .dropdown-menu{
  display: block;
  
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .menu-container {
    display: block;
  }

  .menu {
    flex-direction: column;
  }

  .nav-item {
    margin: 10px 0;
  }

  .dropdown-menu {
    position: static;
    display: none;
    margin: auto;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .nav-item:hover .dropdown-menu {
    display: block;
    
  }

  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.footer-link:hover {
  color: white !important;
  padding: 2px;
  font-weight: 500;
}