
.amenities-bg {
    background-color: #f0f8ff;
  }
  
  .amenity-card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: #ffffff; 
    border-radius: 10px; 
  }

  .amenity-card:hover {
    transform: translateY(-10px);
  }
  .amenity-card:hover .pakkas {
    background-color: #46B65E;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
  }
  
.pakkas {
  /* background-color: #896628;  */
  color: #46B65E;

}
  

  

  
 
  @media (max-width: 576px) {
    .amenity-card {
      margin-bottom: 20px;
    }
  }
  