
      .top-button {
            position: fixed;
            bottom: 88px;
            right: 15px;
            background-color: #000000;
            color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            z-index: 1000;
            transition: transform 0.3s, background-color 0.3s;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden; /* To make sure the text doesn't overflow the button */
          }
          
          .top-button:hover {
            background-color: #2576d3;
          }
          
      
   
      .bounce-in-top-top {
            -webkit-animation: bounce-in-top 1.5s both;
                    animation: bounce-in-top 1.5s both;
    }
      
      
      .heartbeat {
          -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
                  animation: heartbeat 1.5s ease-in-out infinite both;
      }
    
      
     
    @-webkit-keyframes bounce-in-top {
            0% {
              -webkit-transform: translateY(-500px);
                      transform: translateY(-500px);
              -webkit-animation-timing-function: ease-in;
                      animation-timing-function: ease-in;
              opacity: 0;
            }
            38% {
              -webkit-transform: translateY(0);
                      transform: translateY(0);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
              opacity: 1;
            }
            55% {
              -webkit-transform: translateY(-65px);
                      transform: translateY(-65px);
              -webkit-animation-timing-function: ease-in;
                      animation-timing-function: ease-in;
            }
            72% {
              -webkit-transform: translateY(0);
                      transform: translateY(0);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
            }
            81% {
              -webkit-transform: translateY(-28px);
                      transform: translateY(-28px);
              -webkit-animation-timing-function: ease-in;
                      animation-timing-function: ease-in;
            }
            90% {
              -webkit-transform: translateY(0);
                      transform: translateY(0);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
            }
            95% {
              -webkit-transform: translateY(-8px);
                      transform: translateY(-8px);
              -webkit-animation-timing-function: ease-in;
                      animation-timing-function: ease-in;
            }
            100% {
              -webkit-transform: translateY(0);
                      transform: translateY(0);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
            }
          }
          @keyframes bounce-in-top {
            0% {
              -webkit-transform: translateY(-500px);
                      transform: translateY(-500px);
              -webkit-animation-timing-function: ease-in;
                      animation-timing-function: ease-in;
              opacity: 0;
            }
            38% {
              -webkit-transform: translateY(0);
                      transform: translateY(0);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
              opacity: 1;
            }
            55% {
              -webkit-transform: translateY(-65px);
                      transform: translateY(-65px);
              -webkit-animation-timing-function: ease-in;
                      animation-timing-function: ease-in;
            }
            72% {
              -webkit-transform: translateY(0);
                      transform: translateY(0);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
            }
            81% {
              -webkit-transform: translateY(-28px);
                      transform: translateY(-28px);
              -webkit-animation-timing-function: ease-in;
                      animation-timing-function: ease-in;
            }
            90% {
              -webkit-transform: translateY(0);
                      transform: translateY(0);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
            }
            95% {
              -webkit-transform: translateY(-8px);
                      transform: translateY(-8px);
              -webkit-animation-timing-function: ease-in;
                      animation-timing-function: ease-in;
            }
            100% {
              -webkit-transform: translateY(0);
                      transform: translateY(0);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
    }
}
